.btn {
  width: 282px;
  height: 104px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 24px;
  cursor: pointer;
  transition: box-shadow 200ms ease-out;
  box-shadow: 0 4px 4px var(--shadow);
  border: none;
  font-family: var(--sarabun);
}

.btn:hover {
  background: var(--secondary);
  color: var(--white);
  box-shadow: none;
  transition: box-shadow 200ms ease-out;
  transform: translate(0, 4px);
}
