.home,
.home .home-left,
.home .home-left > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home {
  background: var(--primary);
  height: 100vh;
}

.home .home-left {
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.home .home-left > div {
  justify-content: space-between;
  flex-direction: column;
}

.home .home-left > div > p {
  font-size: 30px;
  color: var(--white);
  margin-top: 1rem;
  font-family: var(--sarabun);
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 4.25rem;
  }
}

@media screen and (max-width: 768px) {
  .home > img {
    display: none;
  }
}
